.App {
  text-align: center;
  width: 360px;
  height: 600px;
  padding: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.content-container {
  max-height: 400px;
  overflow-y: auto;
}

.content-words-line {
  display: flex;
  justify-content: space-between;
}

.content-item:nth-child(2n+1) {
  background-color: #eee;
}

.content-item:nth-child(2n) {
  background-color: #fff;
}


.content-words {
  /* justify-self: flex-start; */
  margin-left: 5px;
  font-weight: 700;
}
.content-source {
  /* justify-self: flex-end; */
  margin-right: 10px;
  cursor: pointer;
}
.content-explain {
  white-space: pre;
  text-align: left;
}

.content-explain-ellipsis {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.content-words-expand {
  font-size: 12px;
}